body {
    max-width: 1200px;
    height: 100%;
    color: black;
    font-family: 'Ubuntu Condensed', sans-serif !important;
    background-image: url("../src/photo-pesos.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
}

.title{
    text-align: center;
    margin: 5px;
    padding: 7px;
    color: #5E2471;
}

.tl-initial{
    margin: 200px auto 150px;
}

.tl-initial>.title>h1{
    font-size: 45px;
}

.tl-login{
    margin: 35px auto 50px;
}

.tl-login>.title>h1{
    font-size: 40px;
}

.tl-home{
    margin: auto;
}

.tl-home > h1{
    font-size: 20px;
    margin-left: -30px;
    color: #5E2471;
}

main{
    width: 100%;
    height: 100%;
}

nav{
    background-color: rgb(217, 210, 210, 0.5);
}

.in-bt-spec{
    margin: 5px auto, 0, auto;
    padding: 5px 15px;
    /* margin: 75px auto; */
}

.ht-dd-button {
    width: 100%;
    color: black;
    border: none;
    padding: 5px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.social-m>button{
    margin-top: 7px;
}

div.ht-dd-button {
    transition-duration: 0.4s;
}
  
div.ht-dd-button:hover {
    background-color: #4CAF50; 
    color: white;
}


/* @media (max-width: 800px) {
    body {

    }
} */
